*.gem
*.rbc
*.o
*.so
*.log
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.gitignore
opengl/
ports/
ext/common.h
ext/conv.h
ext/funcdef.h
ext/gl-1.0-1.1.c
ext/gl-1.2.c
ext/gl-1.3.c
ext/gl-1.4.c
ext/gl-1.5.c
ext/gl-2.0.c
ext/gl-2.1.c
ext/gl-3.0.c
ext/gl_buffer.c
ext/gl.c
ext/gl-enums.c
ext/gl-enums.h
ext/gl-error.c
ext/gl-error.h
ext/gl-ext-3dfx.c
ext/gl-ext-arb.c
ext/gl-ext-ati.c
ext/gl-ext-ext.c
ext/gl-ext-gremedy.c
ext/gl-ext-nv.c
ext/gl-types.h
